* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("bg.jpeg");
  background-size: cover;
  background-position: top center;
}

.navbar {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 50px;
  margin: 10px 15px;
}

.navbar a {
  text-decoration: none;
  border: 2px solid darkolivegreen;
  padding: 10px 20px;
  color: darkolivegreen;
}

.navbar a:hover {
  color: black;
  background: rgba(256, 256, 256, 0.5);
  padding: 10px 20px;
}

ul {
  list-style-type: none;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

.container-2 {
  min-height: 94.8vh;
  margin-top: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-2 h1 {
  font-size: 45px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  padding: 0 20px;
}

.container-2 input[type="text"] {
  background: transparent;
  border: none;
  border-bottom: 2px solid black;
  margin: 30px 15px;
  padding: 10px 30px 10px 10px;
  font-size: 16px;
  color: black;
}

#btn {
  margin-left: 10px;
}
